---
layout: archive--custom
classes: wide
---
{{ content }}

<h1 class="archive__home-title">Pocachip's blog <small> - I can work it out!</small></h1>
<h3 class="archive__home-subtitle">Recent Posts</h3>
<!-- <h3 class="archive__home-subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-custom.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
